body {
  background: #333;
}
.App {
  padding: 30px;
  display: flex;
  justify-content: center;
  /*border: solid 4px black;*/
}

.App > div {
  margin: 50px;
  padding: 50px;
  background: dimgray;
  border: solid 2px yellow;
}

.App > div> ul {
  list-style: none;
}